.graffiti {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    /*vh = viewport height (what u can see on the window)*/
    object-fit: cover;
    /* object fit = makes the image or video fit into the window or section it resides in */
    object-position: left;
}

.graffiti2 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    object-position: cover;
}

.stars{ 
    width: 100%;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
}

.idk-background {
    background-color: white;
    text-align: center;
}

.artist-statement {
    text-align: center;
    background-color: white;
}

.secret{
    opacity: 0.2;
}

.sidebar {
    background-color: white;
    color: black;
    padding: 20px;
    min-width: 200px;
}

.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar a:hover {
    background-color: pink;
}

.content {
    padding: 20px;
    box-sizing: border-box;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 10px;
}

.contact{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
   background-color: white;
}

.contact2{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size:8vh;
    color: aqua;
    mix-blend-mode: luminosity;

}

marquee {
    background-color: yellow;
    mix-blend-mode: multiply;
}

.sketchbook {
    max-height: 15em;
    padding: 20px;
}

.poster {
    height: 20em;
    padding: 20px;
}

.fixed{
    position: fixed;
    right: 0;
    top: 250px;
    height: 15rem;
}

.fixed2{
    position: fixed;
    left: 0;
    top: 450px;
    height: 15rem;
}

.fixed3{  
    position: fixed;
    left: 0;
    top: 250px;
    height: 5rem;

}

.fixed4{  
    position: fixed;
    left: 200px;
    top: 450px;
    height: 5rem;

}

.five {
    left: 25px;
    top: 550px;
    height: 20px;
}

.six {
    left: 85px;
    top: 700px;
    height: 20px;
}

.seven {
    left: 210px;
    top: 645px;
    height: 20px;
}

.eight {
    height: 20px;
    top: 500px;
    right: 120px;
}

.nine {
    height: 20px;
    top: 650px;
    right: 90px;
}

.ten {
    height: 20px;
    top: 575px;
    right: 200px;
}

.girl {
    position: absolute;
    text-align: center;
    top: 45%;
    right: 50%;
    color: red;
}

.heart-gif {
   position: absolute;
   top: 50%;
   right: 50%;
}

.redbull {
    height: 140px;
    top: 500px;
    right: 80px;
}
